<article class="flex">
  <h2>Приклад 1</h2>
  <section class="flex flex-row flex-wrap">
    <button (click)="ras()" class="btn">Приклад 1</button>
    <button (click)="ras1()" class="btn">Приклад 1.1</button>
    <button (click)="stop()" class="btn btn-stop">Стоп Приклад 1</button>
  </section>
  <h2>Приклад 2</h2>
  <section class="flex flex-row flex-wrap">
    <button (click)="ras2()" class="btn">Приклад 2</button>
    <button (click)="ras2_1()" class="btn">Приклад 2.1</button>
    <button (click)="ras2_2()" class="btn">Приклад 2.2</button>
    <button (click)="ras2_3()" class="btn">Приклад 2.3</button>
  </section>
</article>
