<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<app-my-header></app-my-header>
<div class="profile-menu">
  <a
    routerLink="/observable"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Observable</a
  >
  <a
    routerLink="/hoo"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >HOO</a
  >
  <a
    routerLink="/http"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Http Example</a
  >
  <a
    routerLink="/subject"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    class="profile-menu-link"
    >Subject</a
  >
</div>

<router-outlet></router-outlet>
